<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBe6y0WIWsNr_d9n5OidaAnopiNP96lDP0</string>
	<key>GCM_SENDER_ID</key>
	<string>37665738009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashimbari.tildesuTeacher.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tildesu-9a77e</string>
	<key>STORAGE_BUCKET</key>
	<string>tildesu-9a77e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37665738009:ios:8688e48d44777369188988</string>
	<key>DATABASE_URL</key>
	<string>https://tildesu-9a77e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>